<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="ParlInfo Search Agent">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/default.css"} />
    <script defer phx-track-static src={~p"/assets/js/phoenix.js"}>
    </script>
    <script defer phx-track-static src={~p"/assets/js/live_view.js"}>
    </script>
    <script defer phx-track-static src={~p"/assets/js/phoenix_html.js"}>
    </script>
    <script defer phx-track-static src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
